<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<% include partials/_header.ejs %>

<body>

  <div>
    <button type="button">URL Shortener</button>
  </div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Shortened URL</th>
          <th>Full URL</th>
        </tr>
      </thead>
      <tbody>
        <% for(const shortURL in urls) { %>
        <tr>
          <td><%= shortURL %></td>
          <td><%= urls[shortURL] %></td>
          <form action="/urls/<%= shortURL %>/edit" method="POST">
            <td><input type="submit" value="Edit" /></td>
          </form>
          <form method="POST" action="urls/<%= shortURL %>/delete">
            <td><input type="submit" value="Delete" /></td>
          </form>
        </tr>
        <% }; %>
      </tbody>
    </table>
  </div>

</body>

</html>