<!DOCTYPE html>
<html lang="en">

<head>
  <title>BelittleMe!</title>
</head>

<header>
  <div>Hey there bodacious belittler! </div>
</header>

 <body style="font-size:20px; padding:50px;">
  <div style="font-size: 14px;">Bounce us your email and password below to login.</div>
  <div style="font-size: 14px">If you aren't yet a bonkers belittler, click <a href="/register">here</a> to register.</div>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="email">Enter Email:</label>
      <input id="email" type="email" name="email" style="width: 300px">
      <label for="password">Enter Password:</label>
      <input id="password" type="password" name="password" style="width: 300px">
      <input type="submit" value="Login">
    </form>
  </body>

</html>