<!DOCTYPE html>
<html lang="en">

<header>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
</header>

<!-- <header>
  <% if(user === undefined) { %>
  <form action="/login" id="login" method="POST" style="margin:150px;">
    <label for="email">Name:</label>
    <input placeholder="Email" type="text" name="email" style="width: 300px">
    <input type="submit" id="Login">
  </form>
  <% } else { %>
    <form action="/logout" id="logout" method="POST" style="margin:150px;">
      <label for="email"><%= email %></label>
      <input type="submit" id="Logout">
    </form>
  <% } %>
</header> -->

</html>