<!DOCTYPE html>
<html lang="en">

  <header>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <% if (user) { %>
      <form id="logout" method="POST" action="/logout">
        <label for="logout"><%- user["email"] %></label>
        <input type="submit" name="logout" value="logout">
      </form>
      <% } %>

  </header>




</html>